@use '../abstracts/colors' as *;

@mixin addToWatchListButton(){
            text-align: center;
            padding: 15px 35px;
            margin: 0;
            color: $textColorDark;
            border-radius: 25px;
            cursor: pointer;
            
};

@mixin removeFromWatchlistButton(){
    text-align: center;
    padding: 15px 40px;
            margin: 0;
            color: $textColorDark;
            border-radius: 20px;
            cursor: pointer;
}

@mixin searchButtonStyle(){
    color: $textColorLit;
    background-color: transparent;
    border: none;
    cursor: pointer;

}
