@use '../abstracts/colors' as *;

@mixin addToWatchListButton(){
            text-align: center;
            padding: 10px 10px;
            margin: 0;
            color: $textColorDark;
            border-radius: 20px;
            
};

@mixin removeFromWatchlistButton(){
    text-align: center;
            padding: 10px 10px;
            font-size: 20px;
            margin: 10;
            color: $textColorDark;
            border-radius: 20px;
}

@mixin buttonStyle{
    width: 6vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

}