@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

@mixin flexCenter(){
    display: flex;
    flex-wrap: wrap;
    position: fixed; 
    top:0;
    left: 0;
    justify-content:space;
    color: aliceblue;
    z-index: 4;
    width: 100vw;
    @include mainFont();
    background-color: $primaryColor;
   
    
}

@mixin flexCenterMobile(){
    background-color: $primaryColor;
    display: flex;
    flex-wrap:wrap; 
    justify-content: center;
    color: aliceblue;
    width: 100vw;
    gap: 20;
    @include mainFont();
     
};