$primaryColor: #0d253f;
$secondaryColor: #01b4e4;
$hightlightColor: #90cea1;
$textColorDark: #0d253f;
$textColorLit: white;


@mixin headerStyle(){
        background: $hightlightColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: x-large;
};

